<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<!-- Messages or error mesages  -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>



<div class="updateAccountTypeForm">
    <form id="updateAccountForm" action="/account/updateAccountType" method="post">
      <fieldset>
          <label for="accountTypeSelect">Account Type:</label>
          <%- accountTypeSelect %>
          <button type="submit" disabled value="Update Account">Update</button>
          <input type="hidden" name="account_id"<% if(locals.account_id) { %> value="<%= locals.account_id %>" <% } %> >
        </fieldset>
    </form>
</div>
<script src="/js/inv-update.js"></script>
